extends layout

block content
  h1= title
  br
  a(href ='/resultaten/create')
    button.btn.btn-info.btn-block(type='button') Nieuwe resultaten Toevoegen

  br
  br
  ul(class='list-group')
    each resultaat in resultaten_list
      a(class='list-group-item' href=resultaat.url)#resultatenStyle
        p#teamElement #{resultaat.team1}
        p#scoreElement #{resultaat.Resultaat} 
        p#teamElement #{resultaat.team2}
        

    else
      a(class='list-group-item') Er zijn geen resultaten


  br
  br
  br